@inherits LayoutComponentBase
@inject IHttpContextAccessor _HttpContextAccessor;

<header>
    <div class="container-fluid header-row d-flex align-items-center justify-content-between" style="height:120px;">
        <div class="d-flex align-items-center gap-2">
            <img src="images/logo_gob_minsa_full.png" class="img-fluid" alt="Logo Gobierno" style="height: 120px;">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #0D6EFD;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i>
                            Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" data-bs-theme="light">
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    @context.User.Identity?.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light">
                                    <li>
                                        <NavLink class="dropdown-item" href="/dashboard" Match="NavLinkMatch.All">
                                            <i class="fa-solid fa-computer me-1"></i> Sistema
                                        </NavLink>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <form action="account/custom-logout" method="post">
                                        <AntiforgeryToken />
                                        <button type="submit" class="dropdown-item">
                                            <i class="fa-solid fa-right-from-bracket text-danger"></i> Salir
                                        </button>
                                    </form>
                                </ul>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link active" href="/account/login" Match="NavLinkMatch.All">
                                    <i class="fa-solid fa-right-to-bracket me-1"></i> Acceder
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid p-2">
    @Body
</div>