@inject NavigationManager NavigationManager

<ul class="sidebar-nav">
    <li class="sidebar-header">
        <i class="fa-solid fa-sitemap me-1"></i> Menú
    </li>
    <li class="sidebar-item px-2">
        <NavLink class="sidebar-link" href="/" Match="NavLinkMatch.All">
            <i class="fa-solid fa-house"></i> Página Principal
        </NavLink>
    </li>
    <li class="sidebar-item px-2">
        <NavLink class="sidebar-link" href="/dashboard" Match="NavLinkMatch.All">
            <i class="fa-solid fa-chalkboard-user"></i> Dashboard
        </NavLink>
    </li>
    @* <AuthorizeView Roles="super-user, certificados, cert-libreventa"> *@
        <li class="sidebar-header">
            <i class="fa-regular fa-file-lines"></i> Pacientes
        </li>
        <li class="sidebar-item px-2">
            <NavLink class="sidebar-link" href="/form_registro_persona" Match="NavLinkMatch.All">
                <i class="fa-solid fa-list"></i> Nuevo Registro
            </NavLink>
        </li>
    @* </AuthorizeView> *@
    @* <AuthorizeView Roles="super-user, administrador"> *@
        <li class="sidebar-header">
            <i class="fa-solid fa-screwdriver-wrench me-1"></i> Administración
        </li>
        <li class="sidebar-item px-2">
            <NavLink class="sidebar-link" href="/admin/listausuarios" Match="NavLinkMatch.All">
                <i class="fa-solid fa-user-gear"></i> Usuarios
            </NavLink>
        </li>
    @* </AuthorizeView> *@
</ul>