@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Sisdas.Components.Layout
@* @attribute [Authorize] *@
@layout DashBoardLayout

<div class="container p-3">
    <p class="fw-medium text-center h1">Dirección General de Salud</p>
    <h3 class="mb-0 fw-medium text-center">Sistema de Dispositivos Anticonceptivos</h3>
</div>